<div class="cards">
<% @flats.each do |flat| %>

  <div class="card-trip">
    <%= image_tag "http://source.unsplash.com/featured/?#apartments>&#{rand(1000)}" %>
    <div class="card-trip-infos">
      <div>
        <h2><%= flat.name %></h2>
        <p><%= flat.address %></p>
        <p> <%= flat.description %> </p>

      </div>
      <div class='card-infos'>
        <h2><i class="fa-solid fa-circle-info"></i></h2>
        <h2 class="card-trip-guest"><i class="fa-solid fa-people-group"></i> <%= flat.number_of_guests %></h2>
        <h2 class="card-trip-pricing">¥<%= flat.price_per_night %></h2>
      </div>
    </div>
  </div>

<% end %>
</div>
